<app-navbar
  [showGoBackButton]="true"></app-navbar>

<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" name="title" type="text" class="validate" [(ngModel)]="note.title">
          <label class="active" for="title">Título</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="content" name="content" class="materialize-textarea" [(ngModel)]="note.content"></textarea>
          <label for="content">Contenido</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a (click)="imageSelector.click()"
            class="right" href="javascript:">
            <i class="pink-text text-accent-2 material-icons">add_a_photo</i>
          </a>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let image of note.images"
             class="col s3 padding-bottom-16">
          <img  alt=""
                width="100%"
                data-caption=""
                class="materialboxed"
                [src]="domSanitizer.bypassSecurityTrustUrl(image.content)">
          <a class="margin-top-minus-25 red-text" href="javascript:" (click)="removeImage(image)">
            <i class="material-icons">delete</i>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large pink accent-2" (click)="save()">
    <i class="large material-icons">save</i>
  </a>
</div>

<input #imageSelector
       (change)="onImageSelect($event)"
       id="image-selector" type="file" name="image-selector" style="display: none;" accept=".jpg,.png,.gif" multiple />
