<app-navbar
  [showGoBackButton]="false"></app-navbar>

<div class="container">
  <div class="row">
    <div class="col s12 m4"
      *ngFor="let note of notes">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title"><strong>{{note.getTitle()}}</strong></span>
          <small class="grey-text">
            {{note.getUpdatedAt().toISOString().substr(0, 10)}}
            <span>{{note.getUpdatedAt().toISOString().substr(11, 5)}}</span>
          </small>
          <br>
          <br>
          <p>{{note.getContent()}}</p>
          <br>
          <div class="row no-padding-bottom no-margin-bottom">
            <div *ngFor="let image of note.images"
              class="col s3 padding-bottom-16">
              <img  alt=""
                    width="100%"
                    data-caption=""
                    class="materialboxed"
                    [src]="domSanitizer.bypassSecurityTrustUrl(image.content)">
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="indigo-text" href="javascript:" [routerLink]="'/note/' + note.getId()">
            <i class="material-icons">open_in_new</i>
          </a>
          <a data-target="delete-modal" class="pink-text text-accent-2 right modal-trigger" href="javascript:"
            (click)="setNoteToDelete(note)">
            <i class="material-icons">delete</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-container
  [id]="'delete-modal'"
  [title]="'Confirmación'"
  (yesClick)="delete(noteToDelete)">
  <p>¿Está seguro de que desea eliminar la nota?'</p>
</app-modal-container>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large pink accent-2" [routerLink]="'/note-form'">
    <i class="large material-icons">add</i>
  </a>
</div>
